.social-networks__icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.social-networks__icon:hover {
  opacity: 0.5;
}

.social-networks__icon:last-child {
  margin-right: 0;
}